<h1>Quick search</h1>

<form role="form" name"seach-form" ng-submit="doSearch()">
  <input ng-model="searchString"></input>
  <button type="submit">Search</button>
  <input type="checkbox" ng-model="includeVariables"></input> Variables
  <input type="checkbox" ng-model="includeTasks"></input> Tasks
  <input type="checkbox" ng-model="includeActivities"></input> Activities
</form>

<h3>Search Results</h3>

<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Id</th>
      <th>Process</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="processInstance in searchResults">
      <td>
        <a href="#/process-instance/{{processInstance.processInstanceId}}/runtime" class="ng-binding">
          {{processInstance.processInstanceId}}
        </a>
      </td>
      <td>
        {{processInstance.processDefinitionName}}
      </td>
    </tr>
  </tbody>
</table>

<h3>Activity Monitor</h3>
  <div>
    <button ng-click="onclickCreate()">Create chart</button>
    <button ng-click="onclickRemove()">Remove chart</button>

    <div id="freewall-container">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </div>
  </div>
